@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

h1{
  font-family: 'Langar', cursive;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
}

.vitsi{
  margin: 10px;
  padding: 15px;
  border: 5px double black;
}

.laatikot{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.laskuri{
  width: 60%;
  border: 2px solid black;
  text-align: center;
  float:right;
}

.dropdown{
  margin: 5px;
}

.valitsimet{
  display: grid;
  grid-template-columns: auto auto auto auto;
  
}

.valitsimet input{
  margin: 5px;
}

.päälaatikko{
  padding: 15px;
}